<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sigin </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


</head>
<style>
    body {
        background: #007bff;
        background: linear-gradient(to right, #0062E6, #33AEFF);
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }

    .btn-google {
        color: white !important;
        background-color: #ea4335;
    }

    .btn-facebook {
        color: white !important;
        background-color: #3b5998;
    }
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                        <form onsubmit=" fetchdata(this)">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="email"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                                <span id="errorEmail"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                                    name="password">
                                <span id="errorPassword"></span>
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="form-check mb-3">
                                <label class="form-check-label" for="forgetpassword">
                                    <a href="#" id="forgetpassword" class="link-danger"> Forget Password ?</a>
                                </label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold signin"
                                    type="submit">Sign
                                    in</button>
                            </div>
                            <hr class="my-4">
                            <div class="d-grid mb-2">
                                <button class="btn btn-danger btn-login text-uppercase fw-bold" id="signin"
                                    type="submit">
                                    <i class="fab fa-google me-2"></i> Sign in with Google
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const errorEmail = document.getElementById('errorEmail');
        const errorPassword = document.getElementById('errorPassword');
        const signin = document.getElementById('signin');

        // async function fetchapi() {
        // const responseData = await fetch('/sigin');
        // const results = await responseData.json();
        // console.log(results);
        // }
        // fetchapi()

        // signin.addEventListener('submit', async (ele) => {
        //     ele.preventDefault();
        //     console.log("mfsdlkmfsdlkfmsdlk");
        // })

        async function fetchdata(ele) {

            // ele.preventDefault();
            console.log(ele.email.value, ele.password.value);
            // const responseData = await fetch('/signin', {
            //     method: 'POST',
            //     headers: {
            //         'Content-Type': 'application/json'
            //     },
            //     body: JSON.stringify({
            //         email: ele.email.value, password: ele.password.value
            //     })

            // });
            // const results = await responseData.json();
            // console.log(JSON.parse(results));
            // const res = await axios.post('/signin', {
            //     email: ele.email.value, password: ele.password.value
            // });
            // console.log(res);
        }
    </script>
</body>



</html>