<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hey <%= locals.name %>,</p>
    <p>
        <%= locals.code %>
            Thanks for signing up for Nice App. We're very excited to have you on board.
    </p>
</body>

</html>